<h1>Produtos</h1>

<table border="1">
<thead>
    <tr>
    <th>Nome</th>
    <th>Quantidade</th>
    <th>Preço</th>
    <th>Categoria</th>
    <th>Fornecedor</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for produto in object_list %}
    {% if produto.id %}
    <tr>
        <td>{{ produto.name }}</td>
        <td>{{ produto.quantity }}</td>
        <td>{{ produto.price }}</td>
        <td>{{ produto.category }}</td>
        <td>{{ produto.supplier }}</td>
        <td><a href="{% url 'produto_view' produto.id %}">view</a></td>
        <td><a href="{% url 'produto_edit' produto.id %}">edit</a></td>
        <td><a href="{% url 'produto_delete' produto.id %}">delete</a></td>
    </tr>
    {% endif %}
    {% endfor %}
</tbody>

</table>
<a href="{% url 'produto_new' %}">Novo Produto</a>
